<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
body{
	font-family: 'Noto Sans KR', sans-serif;
}

header{
	display: none;
}

#seller_header{
	font-family: 'Noto Sans KR', sans-serif;
}
#headerMember{
	height:19.56px;
    width: 1280px;
    justify-content: flex-end;
    flex-direction: row;
    margin: 5px auto 0 auto;
    text-align: right;
}
#sellerHeaderSubMenu{
	width: 100px;
	height: 80px;
	line-height: 40px;
	border: 1px solid #aaa;
	display: none;
	background-color: #fff;
}
.sellerMenuButtons{
	height:19.56px;
	border: none;
	background-color: white;
	padding: 0 0 0 5px;
}
#sellerHeaderSubMenu>li:first-child{
	border-bottom: 1px solid #ddd;
}

/*ask_admin css*/


a:hover,a:active,a:visited,a:link{
	text-decoration: none; 
	color: #aaa;
}
.cs_message{
		margin: 0 auto;
		font-size:14px;
		width:100%;
		margin-bottom:20px;	
	}
/*판매자 고객센터 - 왼쪽 카테고리*/
	.cs_nav{
	width: 100%;
	height: 120px;
	padding: 0 20px;
	box-shadow: 0px 0px 5px #3a7a36;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	display: flex;
	flex-direction: column;
}
.cs_nav>ul{
	display: flex;
	width: 1280px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	flex-direction: row;
	justify-content: space-between;
}

.cs_nav>ul>li{
		font-size: 14px;
		text-align: center;
	}
	.cs_ul>li:nth-child(1){
		font-size:25px; 
		margin:0; padding:0;
		text-align: center;
		color:gray
	}
	.cs_nav>ul>li:nth-child(1)>a{
	color: #3a7a36;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Lobster', cursive;
	}
	.cs_nav>ul>li>a:hover,#sellerHeaderSubMenu>li>a:hover{
	color:black;
	font-weight: bold;
	font-size: 14px;
}
.cs_nav>ul>li:nth-child(1)>a{
	color: #3a7a36;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Lobster', cursive;
}
.cs_nav>li>a{
	color: #3a7a36;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Lobster', cursive;
	
}
#article{
   width: 1280px;
   hegith: 100px;
   border-bottom: #ddd;
   padding: 50px;
   padding-top:10px;
   margin: 120px auto 0 auto;

}
footer{
	box-shadow: 0px 0px 5px #bbb;
}

/*고객센터 상단 title bar & 판매자 페이지 상단title bar*/
	.cs_message{
		margin: 0 auto;
		font-size:14px;
		width:90%;
		margin-bottom:20px;	
		font-weight:bold;
	}
	.cs_wrapTitle{
	   	margin:40px 40px 40px 0px;
		text-align:center;
		font-size:20px;
	}	
	#link, #notice{color: gray;}
	#notice, td{font-size:14px}
	/*표*/
	table{
		width:100%;	
		border-spacing: 0;
		text-indent: initial;
		margin:0 auto;	
		border-top:1px solid lightgray;
		border-bottom:1px solid lightgray;
		font-size:14px;
	}
	th, .th{
		height:40px;
		text-align:center;
		display: table-cell;
	    vertical-align: inherit;
	    font-weight: bold;
	    text-align: -internal-center;
	    border-bottom: 1px solid #ccc;
	    border-top: 1px solid #ccc;
   		background-color: #fcfcfc;
   		font-size: 14px;
	}
	td{
		height:40px;
		border-bottom:1px solid lightgray;
	}
	thead, .answer_content, .td{
		border-bottom: 1px solid #ccc;
	    border-top: 1px solid #ccc;
	    width:100%;
	    
	}
	tr{
		display: table-row;
	    vertical-align: inherit;
	    border-color: inherit;
	    height:40px;
	    font-size:14px;
	}
	.menu{
		border-right:1px solid lightgray;
		/* border-left:1px solid lightgray; */
	}
	.td, .content{
		padding-left:20px;
		
	}
	.content{
		margin: 20px 0 20px;
	}
	td, .td{
		height:40px;
	}
	.tr_head{
		font-weight:bold;
	}
	.tr_head li{
		float:left;
	}
	.td, .th{ line-height:40px;}
	.td{
		width:30%; line-height:40px;
	}
	/*이전글, 다음글*/
	.prev_next_wrap{
		width:100%;
		margin:20px 0px 0px 50px;
	}
	.prev_next_wrap li{
		height:40px;
		line-height:40px;
		border-bottom:1px solid lightgray;
	}
	.prev_next_wrap a{
		padding-left:20px;
		color: black;
	}
	.question_content, .answer_content{padding:10px;}
	.next{margin-bottom:30px}
	answer_line{width:100%; 	background-color:#f6f6f6; height:20px; }
	#subject,  select{border:none;}
	#subject{width:300px; }
	#subject{border:none; width:500px}
	.menu{width:150px}
	
	/*문의하기 목록ask_admin_list*/	
	#link{color: gray;}
	.answer_span{
		background-color: #fcfcfc;
		border-radius:10px;
		padding:5px;
		font-size:14px;	
	}
	.select{
		margin-left:50px;
		width:130px;
		height:30px;
	}
	#search_container, #select_container{width:100%; margin:0 auto; margin-bottom:10px;}
	#select_container{margin:0 auto; height:60px;}
	select{float:right; border:1px solid lightgray;}
	/*버튼*/
	.bottom_wrap{margin:10px auto; width:90%;  text-align:center;}
	#ask_btn, #btn{
		width:150px; 
		height:30px; 
		margin-left:20px; 
		background-color:white; 
		color:black;
		border:1px solid lightgray;
	}
	#ask_btn{margin-left:0;}
	/*문의하기 question content*/
	.question_content{
		height:200px;
	}
	/* 고객센터 상단 메뉴 */
	#seller_cs_menu{
		width:600px;	
	}
	