<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmall.sshj.admin.dao.Admin_MemberSellerDAO">
	<select id="getSellerData" resultType="com.beetmall.sshj.admin.vo.Admin_MemberSellerVO">
		select productname, e.userid, storenum, storename, sellername, 
			sellerreginum, sellerregiimg, regiapproval, regiapprovaldate, storezipcode, storeaddr,
			storedetailaddr, storeemail, bank, bankname, bankaccount, farmname, farmintro, farmprofile, 
			farmvisitor, productnum, saleselect, productprice, thumbimg, username, userphone, useremail, 
            userzipcode, useraddr, userdetailaddr, to_char(birthday,'YYYY-MM-DD') birthday, to_char(joindate, 'YYYY-MM-DD') joindate
            from (
		select productname, c.userid userid, storenum, storename, sellername, 
			sellerreginum, sellerregiimg, regiapproval, regiapprovaldate, storezipcode, storeaddr,
			storedetailaddr, storeemail, bank, bankname, bankaccount, farmname, farmintro, farmprofile, 
			farmvisitor, c.productnum, saleselect, productprice, thumbimg
		from (select b.storenum, farmname,farmintro, farmprofile, farmvisitor, productnum, userid, 
			storename, sellername, sellerreginum, sellerregiimg, regiapproval, regiapprovaldate, 
			storezipcode, storeaddr, storedetailaddr, storeemail, bank, bankname, bankaccount 
			from (select * from seller) a left outer join farm b on a.storenum = b.storenum) c 
		left outer join product d on c.productnum = d.productnum where c.userid=#{userid}
        ) e left outer join member f on e.userid = f.userid
	</select>
	
	<select id="getReportData" resultType="com.beetmall.sshj.admin.vo.Admin_MemberSellerVO">
		select nvl(count(userid),0) reportcount, nvl(sum(reportdate),0) reportsum from reporttbl 
		where userid = #{userid} group by userid
	</select>
	
	<select id="discountSelect" resultType="com.beetmall.sshj.admin.vo.Admin_MemberSellerVO">
		select nvl(saleprice,0) saleprice from (
        select productnum from (
        select * from seller where userid=#{param}) a join farm b on a.storenum = b.storenum
        ) c join discount d on c.productnum = d.productnum(+)
	</select>
	
	<select id="selectFavorite" resultType="long">
		select count(storenum) storenum from favorite where storenum=(select storenum from seller where userid=#{param})
	</select>
	
	<update id="regiapprovalOkUpdate" parameterType="String">
		update seller set regiapproval = 2, regiapprovaldate = sysdate where userid= #{userid}
	</update>
	
	<update id="regiapprovalNoUpdate" parameterType="String">
		update seller set regiapproval = 3, regiapprovaldate = null where userid= #{userid}
	</update>
	
	<update id="farmUpdate" parameterType="com.beetmall.sshj.admin.vo.Admin_MemberSellerVO">
        update farm set farmname = #{farmname}, farmintro = #{farmintro}, farmprofile = #{farmprofile}
                   where storenum = ${storenum}
	</update>
	<update id="sellerUpdate" parameterType="com.beetmall.sshj.admin.vo.Admin_MemberSellerVO">
		update seller set storename = #{storename}, sellername = #{sellername},
                    bank = #{bank}, bankaccount = #{bankaccount}, bankname = #{bankname},
                    storeemail = #{storeemail}, storezipcode =${storezipcode}, 
                    storeaddr = #{storeaddr}, storedetailaddr= #{storedetailaddr}
                    where userid = #{userid}
	</update>
	
</mapper>