<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmall.sshj.admin.dao.Admin_SalesDAO">
	<select id="getCompaySellerCustomerData" resultType="com.beetmall.sshj.admin.vo.Admin_SalesVO">	
		select nvl(sum(realpayment) -round(((sum(realpayment)*0.058))*0.058),0) sePay,
        nvl(round((sum(realpayment)*0.058)),0) coPay, count(ordernum) cuPay 
        from ordertbl where orderdate 
        
        between #{startDate} and #{endDate} 
		
		and ordernum in (select ordernum from orderdetail 
		where not( orderstatus = '환불' or orderstatus = '취소' or orderstatus = '환불 진행중'))
	</select>
	<select id="cateSalesDataList" resultType="com.beetmall.sshj.admin.vo.Admin_CateSalesVO">
		select ordernum, od.productnum productnum, productname, mc.mcatenum mcatenum, orderquantity, 
		to_char(orderconfirm, 'YYYY-MM-DD') orderconfirm, orderprice, mc.mcatename mcatename
		from(select ordernum, a.productnum, productname, b.mcatenum, orderquantity, orderconfirm, orderprice, userid, orderstatus
		from(select ordernum, productnum, orderquantity, orderconfirm, orderprice, orderstatus from orderdetail) a join 
		product b on a.productnum = b.productnum ) od join mcategory mc on od.mcatenum = mc.mcatenum where
         orderstatus='구매확정'
   		<if test="#{resultData}!=''">
			and od.productnum in 
			<foreach collection="resultData" item="item" index="index" open="(" separator="," close=")" > 
				${item} 
			</foreach> 
		</if>
         
         and orderconfirm between #{startCalendarDataValue} and #{endCalendarDataValue} order by orderconfirm asc, ordernum asc 
	</select>
	
		<select id="sellerSalesAllData2" resultType="com.beetmall.sshj.admin.vo.Admin_CateSalesVO">
        select * from(
		select * from(
        select ordernum, od.productnum productnum, productname, mc.mcatenum mcatenum, orderquantity, 
		to_char(orderconfirm, 'YYYY-MM-DD') orderconfirm, orderprice, mc.mcatename mcatename
		, (orderquantity*orderprice) realpayment 
		from (select ordernum, a.productnum, productname, b.mcatenum, orderquantity, orderconfirm, orderprice, userid, orderstatus
		from (select ordernum, productnum, orderquantity, orderconfirm, orderprice, orderstatus from orderdetail) a join 
		product b on a.productnum = b.productnum ) od join mcategory mc on od.mcatenum = mc.mcatenum where
		orderstatus='구매확정' and orderconfirm between add_months(last_day(sysdate)+1,-3) and add_months(last_day(sysdate),0) order by orderconfirm desc, ordernum desc) 
        
        where rownum <![CDATA[ <= ]]> ${pageNum*onePageRecord} order by orderconfirm asc, ordernum asc )
	        <if test="#{pageNum} == #{totalPage}">
	        	where rownum <![CDATA[ <= ]]> ${lastPageRecord} 
	       	</if>
	       	<if test="#{pageNum} != #{totalPage}">
				where rownum <![CDATA[ <= ]]> ${onePageRecord}
			</if>
		order by orderconfirm desc, ordernum desc
	</select>
	
	<select id="sellerSalesAllDataLength2" resultType="int">
		        select count(productnum)
		from (select ordernum, a.productnum, productname, b.mcatenum, orderquantity, orderconfirm, orderprice, userid, orderstatus
		from (select ordernum, productnum, orderquantity, orderconfirm, orderprice, orderstatus from orderdetail) a join 
		product b on a.productnum = b.productnum ) od join mcategory mc on od.mcatenum = mc.mcatenum where 
		orderstatus='구매확정' and orderconfirm between add_months(last_day(sysdate)+1,-3) and add_months(last_day(sysdate),0)
	</select>
	
	<select id="sellerSalesChartData2" resultType="com.beetmall.sshj.admin.vo.Admin_CateSalesVO">
		select sum(orderprice*orderquantity) payData,
        
        <if test="param1==0">
        	to_char(add_months(LAST_DAY(SYSDATE)+1,-1),'yyyy-mm') monthData
        </if>
        <if test="param1==1">
        	to_char(add_months(LAST_DAY(SYSDATE)+1,-2),'yyyy-mm') monthData
        </if>
        <if test="param1==2">
        	to_char(add_months(LAST_DAY(SYSDATE)+1,-3),'yyyy-mm') monthData
        </if>
        
		from (select ordernum, a.productnum, productname, b.mcatenum, orderquantity, orderconfirm, orderprice, userid, orderstatus
		from (select ordernum, productnum, orderquantity, orderconfirm, orderprice, orderstatus from orderdetail) a join 
		product b on a.productnum = b.productnum ) od join mcategory mc on od.mcatenum = mc.mcatenum where
		orderstatus='구매확정' and orderconfirm between 
		
		<if test="param1 == 0">
    		to_char(add_months(LAST_DAY(SYSDATE)+1,-1), 'YYYY-MM-DD') and to_char(add_months(LAST_DAY(SYSDATE), 0), 'YYYY-MM-DD')
    	</if>
    	<if test="param1 == 1">
    		to_char(add_months(LAST_DAY(SYSDATE)+1,-2), 'YYYY-MM-DD') and to_char(add_months(LAST_DAY(SYSDATE), -1), 'YYYY-MM-DD')
    	</if>
    	<if test="param1 == 2">
    		to_char(add_months(LAST_DAY(SYSDATE)+1,-3), 'YYYY-MM-DD') and to_char(add_months(LAST_DAY(SYSDATE), -2), 'YYYY-MM-DD')
    	</if> 
        
        group by productnum
        
	</select>
</mapper>