<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beetmall.sshj.admin.dao.adminProductDAO">
	<select id="productList" resultType="com.beetmall.sshj.admin.vo.adminProductVO" parameterType="com.beetmall.sshj.admin.vo.adminkPageSearchVO">
		select * from(
	    	select * from(
				select a.productnum, a.mcatenum, a.productname, b.storename, b.sellername, c.count, to_char(a.sellstart, 'YYYY-MM-DD') sellstart
				from product a
				join seller b
				    on a.userid = b.userid
				left outer join (select count(productnum) count, productnum 
				        from wish
				        group by productnum) c
				    on a.productnum = c.productnum 
				where 1=1
				<choose>
					<when test = 'searchWord!=null and searchKey!=null'>
						and ${searchKey} like '%${searchWord}%'
					</when>
				</choose>
				<if test="category==null">
					and 1=1
				</if>
				<if test="category!=null">
					<if test="category=='카테고리'">and 1=1</if>
					<if test="category=='과일'">and <![CDATA[a.mcatenum>=]]>22 and <![CDATA[a.mcatenum<=]]>50</if>
					<if test="category=='건과류'">and <![CDATA[a.mcatenum>=]]>1 and <![CDATA[a.mcatenum<=]]>7</if>
					<if test="category=='채소'">and <![CDATA[a.mcatenum>=]]>69 and <![CDATA[a.mcatenum<=]]>104</if>
					<if test="category=='쌀'">and <![CDATA[a.mcatenum>=]]>51 and <![CDATA[a.mcatenum<=]]>68</if>
					<if test="category=='잡곡'">and <![CDATA[a.mcatenum>=]]>51 and <![CDATA[a.mcatenum<=]]>68</if>
					<if test="category=='견과류'">and <![CDATA[a.mcatenum>=]]>8 and <![CDATA[a.mcatenum<=]]>21</if>
				</if>
				order by productnum desc
						 )
			where <![CDATA[rownum<=]]>${pageNum}*${onePageRecord} order by productnum)
			where <![CDATA[rownum<=]]><if test="pageNum==totalPage">${lastPageRecord}</if>
        							  <if test="pageNum!=totalPage">${onePageRecord}</if>
        order by productnum
	</select>
	<select id="productOnetotalRecord" parameterType="com.beetmall.sshj.admin.vo.adminkPageSearchVO" resultType="int">
		select count(a.productnum)
		from product a
		join seller b
		    on a.userid = b.userid
		left outer join (select count(productnum) count, productnum 
		        from wish
		        group by productnum) c
		    on a.productnum = c.productnum
		    where 1=1
		    <if test="category!=null">
				<if test="category=='카테고리'">and 1=1</if>
				<if test="category=='과일'">and <![CDATA[a.mcatenum>=]]>22 and <![CDATA[a.mcatenum<=]]>50</if>
				<if test="category=='건과류'">and <![CDATA[a.mcatenum>=]]>1 and <![CDATA[a.mcatenum<=]]>7</if>
				<if test="category=='채소'">and <![CDATA[a.mcatenum>=]]>69 and <![CDATA[a.mcatenum<=]]>104</if>
				<if test="category=='쌀'">and <![CDATA[a.mcatenum>=]]>51 and <![CDATA[a.mcatenum<=]]>68</if>
				<if test="category=='잡곡'">and <![CDATA[a.mcatenum>=]]>51 and <![CDATA[a.mcatenum<=]]>68</if>
				<if test="category=='견과류'">and <![CDATA[a.mcatenum>=]]>8 and <![CDATA[a.mcatenum<=]]>21</if>
			</if>
		<choose>
			<when test = 'searchWord!=null and searchKey!=null'>
				and ${searchKey} like '%${searchWord}%'
			</when>
		</choose>
		order by a.productnum desc
	</select>
</mapper>